<html lang="ko" layout:decorate="~{layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<div layout:fragment="content" class="container my-3">

  <!-- 고정 확장자 목록 -->
  <div class="mb-3">
    <label for="fixedExtensions" class="form-label">고정 확장자</label>
    <div id="fixedExtensions">
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="1" value=".bar"
               th:checked="${#lists.contains(fixedExtensionStatus, 'bar')}"
               onclick="handleCheckboxChange(this)">
        <label class="form-check-label" for="1">bar</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="2" value=".cmd"
               th:checked="${#lists.contains(fixedExtensionStatus, 'cmd')}"
               onclick="handleCheckboxChange(this)">
        <label class="form-check-label" for="2">cmd</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="3" value=".com"
               th:checked="${#lists.contains(fixedExtensionStatus, 'com')}"
               onclick="handleCheckboxChange(this)">
        <label class="form-check-label" for="3">com</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="4" value=".cpl"
               th:checked="${#lists.contains(fixedExtensionStatus, 'cpl')}"
               onclick="handleCheckboxChange(this)">
        <label class="form-check-label" for="4">cpl</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="5" value=".exe"
               th:checked="${#lists.contains(fixedExtensionStatus, 'exe')}"
               onclick="handleCheckboxChange(this)">
        <label class="form-check-label" for="5">exe</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="6" value=".src"
               th:checked="${#lists.contains(fixedExtensionStatus, 'src')}"
               onclick="handleCheckboxChange(this)">
        <label class="form-check-label" for="6">src</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="7" value=".js"
               th:checked="${#lists.contains(fixedExtensionStatus, 'js')}"
               onclick="handleCheckboxChange(this)">
        <label class="form-check-label" for="7">js</label>
      </div>
    </div>
  </div>

  <!-- 커스텀 확장자 입력 필드 및 추가 버튼 -->
  <div class="mb-3">
    <label for="customExtension" class="form-label">커스텀 확장자</label>
    <div class="input-group">
      <input type="text" minlength="1" maxlength="20" class="form-control" id="customExtension" placeholder="확장자 입력" required>
      <button class="btn btn-primary" type="button" id="addCustomExtensionButton">추가</button>
    </div>
  </div>

  <!-- 추가된 확장자들을 표시할 영역 -->
  <div class="mb-3">
    <label class="form-label">추가된 커스텀 확장자</label>
    <label class="form-label" th:text="'(' + ${customExtensionsCount} + '/200)'"></label>
    <div id="customExtensionsList" class="border p-2" style="min-height: 50px; display: flex; flex-wrap: wrap; gap: 8px;">
      <div th:each="extension : ${customExtensionNames}" class="badge bg-primary text-light">
        <span th:text="${extension}"></span>
        <button type="button" class="btn btn-danger btn-sm ms-2" th:customExtensionName="${extension}"
                onclick="handleDeleteExtension(this.getAttribute('customExtensionName'))">x</button>
      </div>
    </div>
  </div>

</div>

<script layout:fragment="script" type='text/javascript'>
  function handleCheckboxChange(checkbox) {
    const fixedExtensionId = checkbox.id;

    const apiUrl = `/blocked-file/${fixedExtensionId}`;

    fetch(apiUrl, {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
    })
    .then(response => {
      if (response.ok) {
        console.log('Success: Extension status updated.');
      } else {
        console.error('Failed to update extension status.');
      }
    })
    .catch((error) => {
      console.error('Error:', error);
    });
  }

  function handleAddExtension() {
    const customExtensionInput = document.getElementById('customExtension');
    const customExtensionName = customExtensionInput.value.trim();

    if (customExtensionName) {
      fetch('/blocked-file/custom/extension', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({ name: customExtensionName })
      })
      .then(response => {
        if (response.ok) {
          console.log('Success: Custom extension added.');
          customExtensionInput.value = '';
          location.reload();
        } else {
          console.error('Failed to add custom extension.');
        }
      })
      .catch((error) => {
        console.error('Error:', error);
      });
    } else {
      alert('확장자 이름을 입력해 주세요.');
    }
  }
  document.getElementById('addCustomExtensionButton').addEventListener('click', handleAddExtension);

  function handleDeleteExtension(customExtensionName) {

    fetch('/blocked-file/custom/extension', {
      method: 'DELETE',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({ name: customExtensionName })
    })
    .then(response => {
      if (response.ok) {
        console.log('Success: Custom extension deleted.');
        location.reload();
      } else {
        console.error('Failed to delete custom extension.');
      }
    })
    .catch((error) => {
      console.error('Error:', error);
    });
  }
</script>
</html>